@using Common.Entities;
@using Common.Util;

@{
    List<Employee> employeeList = (List<Employee>)ViewBag.model;
}

<div class="table-responsive">
    @if(employeeList.Count > 0)
    { 
        <table class="table table-bordered table-striped table-hover ng-hide">
            <thead>
                <tr class="header-row">
                    <th style="width: 5%;">Id</th>
                    <th style="width: 20%;">Nome</th>
                    <th style="width: 20%;">E-mail</th>
                    <th style="width: 10%;">Gênero</th>
                    <th style="width: 10%;">Nascimento</th>
                    <th style="width: 10%;">Cargo</th>
                    <th style="width: 10%;">Dependentes</th>                 
                    <th style="width: 15%;" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in employeeList)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Name</td>
                        <td>@emp.Email</td>
                        <td>@EnumConverter.GetDisplayName(emp.Genre)</td>
                        <td>@emp.Birth.Value.ToShortDateString()</td>
                        <td>@emp.Role.Name</td>
                        <td>@emp.DepedentList.Count()</td>                                
                        <td class="text-center">
                            <button class="btn btn-primary btn-xs" title="Editar" onclick="Edit('@emp.Id')">
                                <i class="fa fa-pencil fa-1g"></i>
                            </button>

                            <button class="btn btn-danger btn-xs" title="Excluir" onclick="ConfirmDelete('@emp.Id')">
                                <i class="fa fa-times fa-4g"></i>
                            </button>
                        </td>
                    </tr>
                }                        
            </tbody>            
        </table>       
    }
    else
    {
        <span>Nenhum funcionário cadastrado</span>
    }             
</div>            
