@{
    var data = DateTime.Now.Ticks;        
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/Content/jQuery/jquery-3.2.1.min.js")
    @Scripts.Render("~/Content/Tether/tether.js")
    @Scripts.Render("~/Content/Bootstrap/bootstrap.min.js")
    @Scripts.Render("~/Content/Bootstrap/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/jQueryConfirm/jquery-confirm.min.js")
    
    @Styles.Render("~/Content/Tether/tether.css")    
    @Styles.Render("~/Content/Bootstrap/bootstrap.min.css")
    @Styles.Render("~/Content/Bootstrap/bootstrap-grid.min.css")
    @Styles.Render("~/Content/Bootstrap/bootstrap-reboot.min.css")   
    @Styles.Render("~/Content/FontAwesome/css/font-awesome.min.css")    
    @Styles.Render("~/Content/css/site.css")        
    @Styles.Render("~/Content/jQueryConfirm/jquery-confirm.min.css") 
</head>
<body>           
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="Employee">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="Employee">Empregados</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="EmployeeRegister">Cadastro</a>
                </li>                
            </ul>            
        </div>
    </nav>

    <div class="row">&nbsp;</div>

    <div class="container body-content">
        @RenderBody()
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    var serviceBase = '@System.Configuration.ConfigurationManager.AppSettings["WebUrl"]';
</script>