@using Common.Entities;
@using Common.Enums;
@using Common.Util;

@{
    var data = DateTime.Now.Ticks;
    List<Role> roleList = (List<Role>)ViewBag.RoleList;
    Employee employee = (Employee)ViewBag.Employee;
    int roleId = employee.Role != null ? employee.Role.Id : 0;    
    string birth = String.Format("{0:yyyy-M-d}", employee.Birth);    
}

<div class="section">
    <div class="container">        
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-primary">@ViewBag.Title</h2>
                <br />
            </div>
        </div>
        
        <form>
            <input type="hidden" value="@employee.Id" id="inputId">            

            <div class="form-row">
                <div class="col">
                    <label for="inputName">Nome:</label>
                    <input type="text" class="form-control form-control-sm" id="inputName" placeholder="Entre com seu nome completo"
                           value="@employee.Name">  
                </div>
                <div class="col">
                    <label for="inputEmail">E-mail:</label>
                    <input type="email" class="form-control form-control-sm" id="inputEmail" aria-describedby="emailHelp" placeholder="Entre com o seu e-mail"
                           value="@employee.Email">
                    <small id="emailHelp" class="form-text text-muted">Nós não iremos compartilhar seu e-mail com ninguém.</small>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="inputBirth">Data de Nascimento:</label>
                    <input type="date" class="form-control form-control-sm" id="inputBirth"
                           value="@birth">
                </div>
                <div class="col">
                    <label for="inputGenre">Sexo:</label>
                    <select id="inputGenre" class="form-control form-control-sm">
                        <option value="" disabled selected>Selecione</option>
                        @foreach (EnumGenre _enum in Enum.GetValues(typeof(EnumGenre)).Cast<EnumGenre>().ToList())
                        {
                            <option value="@((int)_enum)" selected="@(employee.Genre == _enum)">@EnumConverter.GetDisplayName(_enum)</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="inputRole">Cargo:</label>
                    <select id="inputRole" class="form-control form-control-sm">
                        <option value="" disabled selected>Selecione</option>
                        @foreach (var _role in roleList)
                        {
                            <option value="@_role.Id" selected="@(_role.Id == roleId)">@_role.Name</option>
                        }
                    </select>
                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="btn-submit">
                    <button type="button" class="btn" onclick="GoBack()">Voltar</button>
                    <button type="button" class="btn btn-primary btn-save" onclick="Save()">Salvar</button>                    
                </div>
            </div> 
        </div>
        
    </div>
</div>

@Scripts.Render("~/Content/Script/RegisterEmployee.js?_v=" + data)