@using Common.Entities;
@using Common.Enums;
@using Common.Util;

@{
    var data = DateTime.Now.Ticks;
    List<Role> roleList = (List<Role>)ViewBag.RoleList;
}

<div class="section">
    <div class="container">        
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-primary">@ViewBag.Title</h2>
                <br />
            </div>
        </div>
        
        <form>
            <div class="form-group">
                <label for="inputName">Nome</label>
                <input type="text" class="form-control" id="inputName" placeholder="Entre com seu nome completo">                
            </div>
            <div class="form-group">
                <label for="inputEmail">Endereço de E-mail</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Entre com o seu e-mail">
                <small id="emailHelp" class="form-text text-muted">Nós não iremos compartilhar seu e-mail com ninguém.</small>
            </div>
            <div class="form-group">
                <label for="inputBirth">Data Nascimento</label>
                <input type="date" class="form-control" id="inputBirth">
            </div>
            <div class="form-group">
                <label for="inputGender">Sexo</label>
                <select id="inputGender" class="form-control">                    
                    @foreach (EnumGenre _enum in Enum.GetValues(typeof(EnumGenre)).Cast<EnumGenre>().ToList())
                    {
                        <option value="@((int)_enum)">@EnumConverter.GetDisplayName(_enum)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="inputRole">Sexo</label>
                <select id="inputRole" class="form-control">
                    @foreach (var _role in roleList)
                    {
                        <option value="@_role.Id">@_role.Name</option>
                    }
                </select>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

@Scripts.Render("~/Content/Script/RegisterEmployee.js?_v=" + data)